.form-control-md, .btn{
    border-radius: 0 !important;
}
.text-right{
    text-align: right;
}
.table.dataTable.table-striped>tbody>tr.odd{
    background-color: #e0ffef !important;
}
/*.table.dataTable.table-striped>tbody>tr.odd>td{
    color: #fff !important;
}*/
/*.table tr td{
    padding: 2px 8px !important;
}*/
.badge{
    border-radius: 0 !important;
}
.form-control:disabled, .form-control[readonly]{
    background-color: transparent !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: transparent !important;
    border-radius: 0;
    border: 1px solid #00bdaa;
}
.form-label{
    font-weight: 600;
    color: #4c7d93;
}
.text-highlight td{
    color: blue !important;
}